.title {
  border-bottom: 3px solid black;
  font-size: 40px;
  text-align: center;
}

.brand {
  font-style: italic;
}

.row {
  display: flex;
  width: 100%;
  align-items: stretch;
  border-bottom: 3px solid black;
}

.art-title {
  text-align: center;
  font-style: italic;
}

.quarter {
  width: 25%;
}

.half {
  width: 50%;
}

.threequarter {
  width: 75%;
}

.article {
  padding: 0 5px;
  border: 1px solid grey;
}

.wrap {
  flex-wrap: wrap;
}

.category-box {
  width: 75%;
  display: flex;
  padding: 1px;
  border: 1px solid grey;
  height: 20%;
  flex-direction: column;
}

.cat-bo {
  border: 1px solid grey;
}

.cat-1 {
  background-color: red;
}
.cat-2 {
  background-color: blueviolet;
}
.cat-3 {
  background-color: green;
}
.cat-4 {
  background-color: orange;
}
.cat-5 {
  background-color: whitesmoke;
}

* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}