.title {
  border-bottom: 3px solid black;
  font-size: 40px;
  text-align: center;
}

.brand {
  font-style: italic;
  font-family: 'Parisienne', cursive;
}

.row {
  display: flex;
  width: 100%;
  align-items: stretch;
  border-bottom: 3px solid black;
}

.art-title {
  text-align: center;
  font-style: italic;
}

.image {
  width: 100%;
}

.quarter {
  width: 25%;
}

.half {
  width: 50%;
}

.three-quarter {
  width: 75%;
}

.article {
  padding: 0 5px;
  border: 1px solid grey;
}

.category-box {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}

.site-section {
  display: flex;
  flex: 1;
  align-items: center;
}

.cat-1 {
  background-color: red;
}
.cat-2 {
  background-color: blueviolet;
}
.cat-3 {
  background-color: green;
}
.cat-4 {
  background-color: orange;
}
.cat-5 {
  background-color: whitesmoke;
}

.site-link {
  text-decoration: none;
  font-size: 30px;
  padding-left: 30px;
  font-weight: bold;
  color: darkgray:
}

* {
  box-sizing: border-box;
}